<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/spacer_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spacer_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spacer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/Theme.Spacer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="auth"
                    android:scheme="spacer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="spacer" android:host="events" />
                <data android:scheme="spacer" android:host="event" />
                <data android:scheme="spacer" android:host="invite" />
                <data android:scheme="spacer" android:host="event-chat" />
                <data android:scheme="spacer" android:host="dm" />
                <data android:scheme="spacer" android:host="profile" />
                <data android:scheme="spacer" android:host="user" />
                <data android:scheme="spacer" android:host="social" />
            </intent-filter>
        </activity>
    </application>

</manifest>